.main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
}

.img_wrapper {
  overflow: hidden;
  width: 600px;
}

.img_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  transition: 1s all ease-in-out;
  width: 100%;
}

.container {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.left {
  display: none;
  align-self: center;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
}

.right {
  display: flex;
  align-self: center;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
}

.right:hover,
.left:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-out;
}
